{% include 'header.html' %}

<body>
    <div class="d-flex justify-content-center align-items-center mt-5">
        <div class="card">
            {% include('error_message.html') %}
            <form class="px-4 pb-4" action="/createaccount" method="post">
                <p class="fw-semibold text-start fs-4">Create Account</p>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="username" class="form-control" id="username" name="username"
                        placeholder="Enter Username">
                </div>
                <div class="form-group pt-2">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email">
                </div>
                <div class="form-group pb-4 pt-2">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password"
                        placeholder="Enter Password">
                </div>
                <!-- <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="t_and_c">
                    <label class="form-check-label" for="t_and_c">I agree to terms and conditions</label>
                </div> -->
                <center>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <br><br>
                    <a class="forgotLink p-4" href="{{ url_for('login') }}">Already have an account?</a>
                </center>
            </form>
        </div>
    </div>
</body>

</html>