<!DOCTYPE html>
<html>

<head>
    <title>Skills from Database</title>
</head>

<body>
    <h1>Skills from Database</h1>
    <form action="#" method="post">
        {% for skill in skills %}
        <label for="select-skill">{{ skill }}</label>
        <select id="select-skill" name="select-skill">
            <option value="not interested">Not Interested</option>
            <option value="poor">Poor</option>
            <option value="beginner">Beginner</option>
            <option value="average">Average</option>
            <option value="intermediate">Intermediate</option>
            <option value="excellent">Excellent</option>
            <option value="professional">Professional</option>
        </select>
        <br>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
</body>

</html>